canvas
{
	border: 2px solid rgb(0, 0, 0);
	border-radius: 10px;
}
.maker
{
	font-size: xx-large;
	position: fixed;
	font-weight: bold;
	bottom: 0;
	margin-left: 480px;
	font-family: 'Permanent Marker', cursive;
}